@import url("reset.css");
@import url("normalize.css");

aside {
    height: 100%;
    width: 160px;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
}

aside a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: inline;
}

body {
    background-color: gainsboro;
    background-blend-mode: soft-light;
    background-image: url("../pexels-sabrina-gelbart-249798.jpg");
    text-align: center;
}

main {
    margin-top: 100px;
    margin-left: 160px; 
    padding: 0px 10px;
}

main h1 {
    font-size: 5vw;
}
  

@media screen and (max-height: 450px) {
    main {margin-top: 50px;}
    aside {padding-top: 15px;}
    aside a {font-size: 18px;}
}